.ant-pagination-item {
  display: none !important;
}

.ant-pagination-jump-next {
  display: none !important;
}

.ant-pagination-item-active {
  display: inline !important;
}

.ant-pagination-jump-prev {
  display: none !important;
}

.ant-select-selector {
  display: none !important;
}
.ant-select-arrow {
  display: none !important;
}
